@use '../var';
@use '../mixin';
@use 'sass:color';

.btn {
  margin-top:3rem;
  padding: 1rem;
  display: inline-block;
  border: 2px solid;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color:var.$color;
  @include mixin.hover-logo;
  &:hover {
  color: color.scale(var.$color, $saturation: 25%, $lightness: 25%);
  }
}