
.intro {
  min-height: calc(100vh - 2rem);
  margin-top: 1rem;
  background-color: #D5E0E0;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, .2);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 5px;

  &__content {
    font-size: 1.5vw;
    text-align: right;
    padding: 2rem;
    background-color: rgba(213, 224, 224, 0.85);
    box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    margin: 2rem;
  }

  &__title {
    font-weight: bold;
    font-size: 3em;
  }

  &__desc {
    margin-bottom: 2rem;
  }

  &__emphasis {
    color: white;
    background-color: #394E25;
  }
}